<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pedronoriega.electrolinera" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IniciarSesion"
            android:label="@string/title_activity_iniciar_sesion" >
        </activity>
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro" >
        </activity>
        <activity
            android:name=".RecuperarContrasenia"
            android:label="@string/title_activity_recuperar_contrasenia" >
        </activity>
        <activity
            android:name=".VerPerfil"
            android:label="@string/title_activity_ver_perfil" >
        </activity>
        <activity
            android:name=".ModificarPerfil"
            android:label="@string/title_activity_modificar_perfil" >
        </activity>
        <activity
            android:name=".CambiarContrasena"
            android:label="@string/title_activity_cambiar_contrasena" >
        </activity>
        <activity
            android:name=".AgregarAutomovil"
            android:label="@string/title_activity_agregar_automovil" >
        </activity>
        <activity
            android:name=".VerAutomovil"
            android:label="@string/title_activity_ver_automovil" >
        </activity>
    </application>

</manifest>
